<%= form_with(model: ceap, multipart: true) do |form| %>
  <% if ceap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ceap.errors.count, "error") %> prohibited this ceap from being saved:</h2>

      <ul>
        <% ceap.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", required: true%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", required: true%>
  </div>

  
   <div class="custom-file">
      <%= form.label :file, "Upload CSV File", class: "btn btn-info" %>
      <%= form.file_field :file, class: 'custom-file-input', required: true %>
   </div>

  <div class="actions">
    <%= form.submit "Criar Ceap", class: "btn btn-info" %>
  </div>
<% end %>
