<%= form_with(model: ceap, multipart: true) do |form| %>
  <% if ceap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ceap.errors.count, "error") %> prohibited this ceap from being saved:</h2>

      <ul>
        <% ceap.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", required: true%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", required: true%>
  </div>

  
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupFile01">Arquivo CSV</label>
    <%= file_field_tag :file, class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit "Criar Ceap", class: "btn btn-info" %>
  </div>
<% end %>
