<p id="notice"><%= notice %></p>

<h1>Ceaps</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Total spend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @ceaps.each do |ceap| %>
      <tr scope="col">
        <td><%= ceap.name %></td>
        <td><%= ceap.email %></td>
        <td><%= number_to_currency(ceap.total_spend, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td><%= link_to 'Deputados', ceap, class: "btn btn-info"%></td>
        <td><%= link_to 'Excluir', ceap,  class: "btn btn-info", method: :delete, data: { confirm: 'Quer mesmo excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="col-xs-12 align-right">
  <%= link_to 'New Ceap', new_ceap_path, class: "btn btn-success bg-green waves-effect" %>
</div>
