<p id="notice"><%= notice %></p>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Documento</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @deputies.each do |deputy| %>
      <tr scope="col">
        <td><%= deputy.name %></td>
        <td><%= deputy.document %></td>
        <td><%= deputy.state %></td>
        <td><a href=<%="/expenses?ceap_id=#{@ceap.id}&id=#{deputy.id}"%> class="btn btn-info">Despesas</a></td></tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', ceaps_path, class: "btn btn-info"%>
