
<p id="notice"><%= notice %></p>

<h1>Despesas do Deputado: <%= @deputy.name %></h1>
<img src="<%= @deputy.photo %>" alt="<%= @deputy.name %>" class="img-thumbnail">

<table class="table table-dark">
  <thead>
    <tr>
      <th>Estabelecimento</th>
      <th>Data</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%total = 0%>
  <tbody >
    <% @expenses.each do |expense| %>
      <tr scope="col">
        <td><%= expense.establishment %></td>
        <td><%= expense.date %></td>
        <td><%= number_to_currency(expense.value, unit: "R$", separator: ",", delimiter: ".") %> </td>
        <% total += expense.value %>
        <td><%= link_to 'Detalhes', details(expense)	, class: "btn btn-info"%></td>

      </tr>
    <% end %>
  <tr scope="col"> <td colspan="3"><strong> Maior Despesa </strong></td></tr>
  <tr scope="col">
    <td><%= @higher_expense.establishment %></td>
    <td><%= @higher_expense.date %></td>
    <td><%= number_to_currency(@higher_expense.value, unit: "R$", separator: ",", delimiter: ".") %> </td>
    <% total += @higher_expense.value %>
    <td><%= link_to 'Detalhes', details(@higher_expense)	, class: "btn btn-info"%></td>
  </tr>
  </tbody>

</table>



<hr class="border-line">
  <small>Valor Total:</small>
  <p class="m-0 text-primary">
    <h3 class="text-primary text-danger"><b><%= number_to_currency(total, unit: "R$", separator: ",", delimiter: ".") %></b></h3>
  </p>
<hr class="border-line">


